# 14: Read Write Data From Database (read_sql, to_sql)

> Pandas' read_sql, read_sql_table, read_sql_query methods provide a way to read records in database directly into a dataframe. to_sql on dataframe can be used to write dataframe records into sql table. Using sqlalchemy engine, one can interface easily with mysql, postgres, oracle databases.

In [1]:
import pandas as pd
import sqlalchemy

 - create an engine

In [ ]:
engine = sqlalchemy.create_engine()