# 2: Dataframe Basics

> Data Frame is a main object in Pandas. It is used to represent data with rows and cols.

## Topics:
1. Creating DataFrame
2. Dealing with rows and cols
3. Operations: min, max, std, describe
4. Conditional Selection
5. set_index

In [1]:
import pandas as pd
df = pd.read_csv('weatherdata.csv')

In [2]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## Trying with dict -> dataFrame

In [5]:
simple_dict = {'name':['john','mary','mike','chris'],'rank':[3,2,4,1],'skills':['coder','hacker','cheater','baker']}
simple_df = pd.DataFrame(simple_dict)
simple_df

    name  rank   skills
0   john     3    coder
1   mary     2   hacker
2   mike     4  cheater
3  chris     1    baker

In [8]:
df.shape

(6, 4)

In [9]:
type(df.shape)

tuple

In [11]:
rows,cols = df.shape
elements = rows*cols

elements

24

## Use head() method

In [13]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

## Use tail() method

In [14]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## Use Indexing and slicing in dataframe

In [16]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [17]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [20]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [19]:
df[0:1]

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain

> columns in pandas are rep. by series data structure

In [22]:
df[['day']]

        day
0  1/1/2017
1  1/2/2017
2  1/3/2017
3  1/4/2017
4  1/5/2017
5  1/6/2017

## Operations with your dataframe

In [23]:
df['temperature'].max()

35

In [24]:
df['temperature'].mean()

30.333333333333332

In [26]:
df['temperature'].std()

3.8297084310253524

In [30]:
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

## Conditional select the data in your dataframe

In [32]:
df.temperature >= 33

0    False
1     True
2    False
3    False
4    False
5    False
Name: temperature, dtype: bool

In [33]:
type(df.temperature >= 33)

pandas.core.series.Series

In [36]:
df[df.temperature >= 33]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [37]:
df[list(df.temperature >= 33)]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [42]:
df[['day','temperature']][df.temperature == df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [53]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [54]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [57]:
df.loc['1/1/2017']

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object