## 3: Different Ways Of Creating DataFrame

1. Using CSV
2. Using Excel
3. From Python Dictionary
4. From list to tuples
5. From list to dictionaries

In [2]:
import pandas as pd
df_weatherdata = pd.read_csv('weatherdata.csv')
df_weatherdata

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
# df_weatherdata = pd.read_excel('weatherdata.xlsx','sheet1')

In [8]:
data_dict = {'name':['mike','john'],'class':['A','B'],'salary':[200,300]}
data_pandas_df = pd.DataFrame(data_dict,columns=['name','class'])
data_pandas_df

   name class
0  mike     A
1  john     B