# 5: Handle Missing Data: fillna, dropna, interpolate

> 1. fillna to fill missing values using different ways
> 2. interpolate to make a guess on missing values using interpolation
> 3. dropna to drop rows with missing values

In [9]:
import pandas as pd
df = pd.read_csv('nyc_weather.csv',parse_dates=['EST'])
df.head(3)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277

In [10]:
type(df['EST'][0])

pandas._libs.tslibs.timestamps.Timestamp

pandas._libs.tslibs.timestamps.Timestamp -> using parse_dates=['EST']

#### Setting EST as index

In [11]:
df.set_index('EST',inplace=True)
df.head(1)

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281

In [12]:
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,NaN,0,1,NaN,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,NaN,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,NaN,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,NaN,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,NaN,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,NaN,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,NaN,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,NaN,312
2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,NaN,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,NaN,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241

In [14]:
df.shape

(31, 10)

***

## Use fillna() method in dataframe

In [15]:
new_df_fillna = df.fillna(0)
new_df_fillna

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,0,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,0,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,0,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,0,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,0,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,0,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,0,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,0,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,0.0,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,0.0,0,1,0,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,0,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,0,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,0,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,0,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,0,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,0,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,0,312
2016-01-22,26,6,41,30.21,9,0.0,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,0,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,0,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,0,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,0,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,0,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,0,241

> If we want to be specific, then pass a dictionary into the fillna() function

In [16]:
new_df_fillna = df.fillna({'Events':'No events',
                          'WindSpeedMPH':'0.1'})
new_df_fillna

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8,0,5,No events,281
2016-01-02,36,18,46,30.02,10,7,0,3,No events,275
2016-01-03,40,21,47,29.86,10,8,0,1,No events,277
2016-01-04,25,9,44,30.05,10,9,0,3,No events,345
2016-01-05,20,-3,41,30.57,10,5,0,0,No events,333
2016-01-06,33,4,35,30.50,10,4,0,0,No events,259
2016-01-07,39,11,33,30.28,10,2,0,3,No events,293
2016-01-08,39,29,64,30.20,10,4,0,8,No events,79
2016-01-09,44,38,77,30.16,9,8,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,0.1,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,0.1,0,1,No events,289
2016-01-12,35,15,53,29.85,10,6,T,4,No events,235
2016-01-13,26,4,42,29.94,10,10,0,0,No events,284
2016-01-14,30,12,47,29.95,10,5,T,7,No events,266
2016-01-15,43,31,62,29.82,9,5,T,2,No events,101
2016-01-16,47,37,70,29.52,8,7,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11,0,1,No events,293
2016-01-20,32,15,49,30.13,10,6,0,2,No events,302
2016-01-21,31,11,45,30.15,10,6,0,1,No events,312
2016-01-22,26,6,41,30.21,9,0.1,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3,0,2,No events,286
2016-01-26,43,29,56,30.03,10,7,0,2,No events,244
2016-01-27,41,22,45,30.03,10,7,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5,0,1,No events,234
2016-01-29,36,21,50,29.58,10,8,0,4,No events,298
2016-01-30,34,16,46,30.01,10,7,0,0,No events,257
2016-01-31,46,28,52,29.90,10,5,0,0,No events,241

## Use fillna(method="ffill") method in dataframe

> ffill means forward-fill, fill with the forward value

In [17]:
new_df_ffill = df.fillna(method="ffill")
new_df_ffill

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,8.0,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,8.0,0,1,Rain,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,Rain,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,Rain,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,Rain,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,Rain,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,Snow,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,Snow,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,Snow,312
2016-01-22,26,6,41,30.21,9,6.0,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,Snow,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,Snow,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,Rain,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,Rain,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,Rain,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,Rain,241

In [18]:
new_df_bfill = df.fillna(method="bfill")
new_df_bfill

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,Rain,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,Rain,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,Rain,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,Rain,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,Rain,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,Rain,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,Rain,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,Rain,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,6.0,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,6.0,0,1,Rain,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,Rain,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,Rain,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,Rain,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,Rain,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,Snow,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,Snow,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,Snow,312
2016-01-22,26,6,41,30.21,9,16.0,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,Rain,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,Rain,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241

## "axis" parameter in fillna() method in dataframe

In [19]:
new_df_bfill_axis = df.fillna(method="bfill",axis='columns')
new_df_bfill_axis

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8,0,5,281,281
2016-01-02,36,18,46,30.02,10,7,0,3,275,275
2016-01-03,40,21,47,29.86,10,8,0,1,277,277
2016-01-04,25,9,44,30.05,10,9,0,3,345,345
2016-01-05,20,-3,41,30.57,10,5,0,0,333,333
2016-01-06,33,4,35,30.5,10,4,0,0,259,259
2016-01-07,39,11,33,30.28,10,2,0,3,293,293
2016-01-08,39,29,64,30.2,10,4,0,8,79,79
2016-01-09,44,38,77,30.16,9,8,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,1.8,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,0,0,1,289,289
2016-01-12,35,15,53,29.85,10,6,T,4,235,235
2016-01-13,26,4,42,29.94,10,10,0,0,284,284
2016-01-14,30,12,47,29.95,10,5,T,7,266,266
2016-01-15,43,31,62,29.82,9,5,T,2,101,101
2016-01-16,47,37,70,29.52,8,7,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11,0,1,293,293
2016-01-20,32,15,49,30.13,10,6,0,2,302,302
2016-01-21,31,11,45,30.15,10,6,0,1,312,312
2016-01-22,26,6,41,30.21,9,0.01,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3,0,2,286,286
2016-01-26,43,29,56,30.03,10,7,0,2,244,244
2016-01-27,41,22,45,30.03,10,7,T,3,Rain,311
2016-01-28,37,20,51,29.9,10,5,0,1,234,234
2016-01-29,36,21,50,29.58,10,8,0,4,298,298
2016-01-30,34,16,46,30.01,10,7,0,0,257,257
2016-01-31,46,28,52,29.9,10,5,0,0,241,241

## "limit" parameter in fillna() method in dataframe

In [21]:
new_df_ffill_limit = df.fillna(method="ffill",limit=2)
new_df_ffill_limit

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,8.0,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,8.0,0,1,Rain,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,Rain,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,NaN,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,NaN,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,NaN,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,Snow,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,Snow,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,NaN,312
2016-01-22,26,6,41,30.21,9,6.0,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,Snow,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,Snow,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,Rain,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,Rain,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241

## interpolate() to do interpolation in dataframe

In [22]:
df_interpolate_new = df.interpolate()
df_interpolate_new

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.000000,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.000000,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.000000,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.000000,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.000000,0,0,NaN,333
2016-01-06,33,4,35,30.50,10,4.000000,0,0,NaN,259
2016-01-07,39,11,33,30.28,10,2.000000,0,3,NaN,293
2016-01-08,39,29,64,30.20,10,4.000000,0,8,NaN,79
2016-01-09,44,38,77,30.16,9,8.000000,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,7.333333,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,6.666667,0,1,NaN,289
2016-01-12,35,15,53,29.85,10,6.000000,T,4,NaN,235
2016-01-13,26,4,42,29.94,10,10.000000,0,0,NaN,284
2016-01-14,30,12,47,29.95,10,5.000000,T,7,NaN,266
2016-01-15,43,31,62,29.82,9,5.000000,T,2,NaN,101
2016-01-16,47,37,70,29.52,8,7.000000,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.000000,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.000000,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.000000,0,1,NaN,293
2016-01-20,32,15,49,30.13,10,6.000000,0,2,NaN,302
2016-01-21,31,11,45,30.15,10,6.000000,0,1,NaN,312
2016-01-22,26,6,41,30.21,9,11.000000,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.000000,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.000000,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.000000,0,2,NaN,286
2016-01-26,43,29,56,30.03,10,7.000000,0,2,NaN,244
2016-01-27,41,22,45,30.03,10,7.000000,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.000000,0,1,NaN,234
2016-01-29,36,21,50,29.58,10,8.000000,0,4,NaN,298
2016-01-30,34,16,46,30.01,10,7.000000,0,0,NaN,257
2016-01-31,46,28,52,29.90,10,5.000000,0,0,NaN,241

## dropna() method Drop all the rows which has "na" in dataframe

In [23]:
df_dropna = df.dropna()
df_dropna

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311

##  "thresh" parameter in dropna() method

In [24]:
df_dropna_thresh = df.dropna(thresh=1)
df_dropna_thresh

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,NaN,0,1,NaN,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,NaN,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,NaN,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,NaN,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,NaN,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,NaN,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,NaN,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,NaN,312
2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,NaN,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,NaN,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241

***