# Data Loading, Storage, and File Formats

Input and output typically falls into a few main categories: 
- reading text files and other more efficient on-disk formats, 
- loading data from databases, 
- and interacting with network sources like web APIs.

## Reading and Writing Data in Text Format

In [2]:
import pandas as pd
import requests

url = 'https://news.google.com/covid19/map?hl=en-IN&mid=/m/03rk0&gl=IN&ceid=IN:en'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

df = pd.read_html(r.text)

In [10]:
del df[0]['Cases per 1 million people']
df[0].columns

Index(['Location', 'Confirmed', 'Recovered', 'Deaths'], dtype='object')

In [20]:
deaths = df[0]['Deaths'][df[0]['Deaths']!='No data'].astype(int)
Confirmed = df[0]['Confirmed'][df[0]['Confirmed']!='No data'].astype(int)

In [24]:
#deaths/Confirmed * 100

In [25]:
df = pd.read_csv('data/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [26]:
pd.read_table('data/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [30]:
pd.read_csv('data/ex1.csv',header=None,skiprows=1,names=['a', 'b', 'c', 'd', 'message'],index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [31]:
pd.read_csv('data/ex2.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [32]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('data/ex3.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

## Reading Text Files in Pieces

When processing very large files or figuring out the right set of arguments to correctly process a large file, you may only want to read in a small piece of a file or iterate through smaller chunks of the file.

In [34]:
import numpy as np
dates = pd.date_range('1/1/2000',periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('data/ts.csv')

## JSON Data

In [35]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [36]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [39]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

## Interacting with Web APIs

In [41]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)

data = resp.json()
#data

In [43]:
issues = pd.DataFrame(data, columns=['number', 'title','labels', 'state'])
issues

,number,title,labels,state
0,35460,BUG: AssertionError: Number of Block dimension...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,35459,CI: activate github actions on 1.1.x (PR only)...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
2,35456,Add note about limited propagation of attrs,[],open
3,35455,REGR: DataFrame.to_numpy(dtype=str) raises Run...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,35454,DOC: update Python support policy,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
5,35451,WEB: Fixing whatsnew link in the home page (ve...,"[{'id': 1508144531, 'node_id': 'MDU6TGFiZWwxNT...",open
6,35450,BUG: dataframe.any() method behaves differentl...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
7,35449,BUG: unique() casts its types' elements from `...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
8,35447,Updated chunksize docstring for DataFrame.to_c...,[],open
9,35446,"BUG: pd.testing.assert_frame_equal(..., check_...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
10,35445,WIP: ENH: Add numba engine to groupby apply,[],open
11,35444,BUG: Attributes are lost when subsetting colum...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
12,35443,BUG: Attributes of DataFrameGroupBy when subse...,"[{'id': 1741841389, 'node_id': 'MDU6TGFiZWwxNz...",open
13,35441,BUG: GroupBy.apply() throws erroneous ValueErr...,[],open
14,35440,BUG: CategoricalIndex.format,[],open
15,35439,BUG: output of df.to_string depends on whether...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
16,35438,DOC: Can't find mention of DataFrame accepting...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
17,35437,BUG: tuple-of-tuples indexing results in NumPy...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
18,35436,BUG: pd.read_parquet with pyarrow fails when r...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
19,35434,BUG: Shift on a group column when column name ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,35432,CLN/PERF: move RangeIndex._cached_data to Rang...,[],open
21,35429,BUG: NA does not propagate through mask and wh...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
22,35428,BUG: Inconsistent date parsing of to_datetime,[],open
23,35427,MAINT: Fix issue in StataReader due to upstrea...,"[{'id': 104865385, 'node_id': 'MDU6TGFiZWwxMDQ...",open
24,35426,CI/COMPAT: read_stata failing in numpy dev pip...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
25,35425,BUG: attrs lost for Series in DataFrame,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,35424,TST: adding test for .describe() with duplicat...,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open
27,35423,TST: Add test for `GroupBy.describe()` with du...,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open
28,35421,Support reading YAML files,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
29,35420,to_json/read_json can't handle interval index,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open

<hr/>